.navbar{
    display: flex;
    align-items: center;
    color: #ff6060;
    font-weight: 700;
    gap : 3rem;
    margin-bottom: 2rem;
}
@media screen and (width <=  425px){
    .navbar{
       gap: 1rem;
     
    }
 }

.navbar a{
    color: #FF6060;
    text-decoration: none;
}
@media screen and (width <=  425px){
    .navbar a{
font-size: 12px;   
text-transform: uppercase  
    }
 }
.navbar a:hover{
    text-decoration: underline;
}
.navbar a.active{
    text-decoration: underline;
}
.navbar_logo{
    margin-right: auto;
    transform: scale(1.0);
}
@media screen and (width <=  425px){
    .navbar_logo img{
       width: 100px;
     
    }
 }

